redis = "12800"
mode = "colocated"

[policy]
model_name_or_path = "stabilityai/stable-diffusion-3.5-medium"
is_diffusers = true
model_gradient_checkpointing = true

[policy.diffusers_config]
dtype = "float32"
use_pipeline = true
is_video = false

[policy.diffusers_config.lora]
r = 32
lora_alpha = 64
init_lora_weights = "gaussian"
target_modules = [
    "attn.add_k_proj",
    "attn.add_q_proj",
    "attn.add_v_proj",
    "attn.to_add_out",
    "attn.to_k",
    "attn.to_out.0",
    "attn.to_q",
    "attn.to_v",
]

[logging]
logger = ['console', 'wandb']
project_name = "cosmos_rl"
experiment_name = "None"

[train]
resume = false
epoch = 10
output_dir = "./outputs/stable-diffusion-3-5-medium_720_nft"
epsilon = 1e-8
optm_name = "AdamW"
optm_lr = 3e-4
optm_impl = "foreach"
optm_weight_decay = 1e-4
optm_betas = [ 0.9, 0.999,]
optm_grad_norm_clip = 1.0
ema_enable = true
ema_decay = 0.9
ema_update_step_interval = 1

[train.train_policy]
type = "grpo"
trainer_type = "diffusion_nft"
dataset.name = "pickscore"
dataset.split = "train"

[train.ckpt]
enable_checkpoint = false
save_freq = 5
save_mode = "async"
